bady{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.main_box{
  position: absolute;
  height: 100%;
  width: 100%;
}
 .box{
   position: absolute;
  height:20%;
  width: 20%;
}
.center{
  background-color: black;
  height: 30%;
  width: 30%;
  left: 35%;
  top: 35%;
}
.yellow{
  background-color: yellow;
  left: 15%;
  top:15%;
}
.green{
  background-color: green;
  right: 15%;
  top: 15%;
}

.blue{
  background-color: blue;
  right: 15%;
  bottom: 15%;
}
.tomato{
  background-color: tomato;
  left: 15%;
  bottom: 15%;
}
